<form class="layui-form" method="post" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="user" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="submit" class="layui-btn" value="立即提交">
      {#<button class="layui-btn" lay-submit lay-filter="*">立即提交</button>#}
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
$(function(){  
  layui.use(['form','layer'], function(){
    var form = layui.form();  
    var layer = layui.layer;
    form.render();
  });
  $('form').off('submit').on('submit',function(){
    $.post('admin_add.html',$(this).serialize(),function(data){
      if(data > 1){
        layer.close(layer.index);
        layer.msg('添加成功！');
        let url = window.location.pathname;
        $.pjax({
          url: url,            
          container: '#main'
        });
      }else{
        layer.msg('用户已存在！');
      }
    });
    return false;
  });
})
</script>

