<div>
  <span class="pull-right">
    <button class="layui-btn add">
      <i class="layui-icon">&#xe608;</i> 用户添加
    </button>
  </span>
</div>
<table class="layui-table">
  <colgroup>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>用户</th>
      <th>创建时间</th>
      <th>添加用户</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
  {% for i in row %}
    <tr>
      <td>{{i.user}}</td>
      <td>{{i.add_time}} </td>
      <td>{{i.add_user}}</td>
      <td>
        {% if i.id == 1 %}
          <div class="layui-btn-group">
            <button class="layui-btn  layui-btn-disabled layui-btn-small">
              <i class="layui-icon">&#xe642;</i>
            </button>
            <button class="layui-btn  layui-btn-disabled layui-btn-small">
              <i class="layui-icon">&#xe640;</i>
            </button>
          </div>       
        {% else %}     
          <div class="layui-btn-group">
            <button class="layui-btn layui-btn-primary layui-btn-small edit" data="{{i.id}}">
              <i class="layui-icon">&#xe642;</i>
            </button>
            <button class="layui-btn layui-btn-primary layui-btn-small del" data="{{i.id}}">
              <i class="layui-icon">&#xe640;</i>
            </button>            
          </div>
        {% endif %}
      </td>
    </tr>
  {% endfor%}
  </tbody>
</table>
<script>

$(function(){
  layui.use('layer',function(){
    var layer = layui.layer;
  });
  $('.add').click(function(){
    $.post('admin_add.html',{
      _csrf: '{{ctx.csrf}}'
    },function(data){
      layer.open({
        title: '添加用户！',
          type: 1,
          area: ['800px', '600px'], //宽高
          content: data
      });
    });
  });
  $('.edit').click(function(){
    let id = $(this).attr('data');
    $.post('admin_edit.html',{
      id: id,
      _csrf: '{{ctx.csrf}}'
    },function(data){
      if(data){
        layer.open({
          title: '修改密码！',
          type: 1,
          area: ['500px', '300px'], //宽高
          content: data
        });
      }else{
        layer.msg('未找到指定数据！');
      }       
    });
  });
  $('.del').click(function(){
    let id = $(this).attr('data');
    $.post('admin_del.html',{
      id: id,
      _csrf: '{{ctx.csrf}}'
    },function(data){
      if(data){
        layer.msg('删除成功！');
        let url = window.location.pathname;
        $.pjax({
          url: url,            
          container: '#main'
        });
      }else{
        layer.msg('未找到指定数据！');
      }        
    });
  });
});
</script>